<h1> Room : <%= @room.name %> </h1>

<div class="messages"> 
    <% @messages.each do |message| %>
        <p> <%= message.content %> </p>
    <% end %>
</div>

<%= form_for [@room, @message], :remote => true do |f| %>
    <%= f.label :content %>
    <%= f.text_field :content %>
    <%= f.submit %>
<% end %>

<script>
//  setInterval(updateMessagesViaJSON, 3000)
</script>